[Unit]
Description=Kea DHCPv6 server
After=network.target

[Service]
Type=simple
ExecStartPre=/usr/bin/install -d -m 0755 /var/run/kea
ExecStart=/usr/sbin/kea-dhcp6 -c /etc/kea/kea-dhcp6.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target
