[Unit]
Description=Kea DHCPv4 server
After=network.target

[Service]
Type=simple
ExecStartPre=/usr/bin/install -d -m 0755 /var/run/kea
ExecStart=/usr/sbin/kea-dhcp4 -c /etc/kea/kea-dhcp4.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target
