[Unit]
Description=HAProxy load balancer
Documentation=man:haproxy(1)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/sbin/haproxy -db -f /etc/haproxy/haproxy.cfg
ExecReload=/usr/sbin/haproxy -c -f /etc/haproxy/haproxy.cfg
ExecReload=/bin/kill -USR2 $MAINPID
Restart=on-failure
RuntimeDirectory=haproxy

[Install]
WantedBy=multi-user.target
