[Unit]
Description=Rapid spam filtering system
After=network.target

[Service]
Type=simple
ExecStartPre=/usr/bin/mkdir -p /run/rspamd
ExecStartPre=/usr/sbin/rspamd -c /etc/rspamd/rspamd.conf -t
ExecStart=/usr/sbin/rspamd -c /etc/rspamd/rspamd.conf -f
ExecReload=/bin/kill -USR1 $MAINPID
Restart=on-failure
User=rspamd
Group=rspamd
RuntimeDirectory=rspamd
LimitNOFILE=16384

[Install]
WantedBy=multi-user.target
