[Unit]
Description=ClamAV antivirus scanner daemon
After=network.target

[Service]
Type=simple
User=clamav
Group=clamav
ExecStartPre=/bin/rm -f /var/run/clamav/clamd.sock
ExecStart=/usr/sbin/clamd --foreground=true
ExecReload=/bin/kill -USR2 $MAINPID
Restart=on-failure
LimitNOFILE=16384

[Install]
WantedBy=multi-user.target
