[Unit]
Description=Dovecot IMAP/POP3 email server
After=network.target

[Service]
Type=forking
PIDFile=/var/run/dovecot/master.pid
ExecStartPre=/usr/bin/install -d -m 0755 /var/run/dovecot
ExecStartPre=/usr/sbin/dovecot -c /etc/dovecot/dovecot.conf configtest
ExecStart=/usr/sbin/dovecot
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/usr/sbin/dovecot stop
Restart=on-failure

[Install]
WantedBy=multi-user.target
