[Unit]
Description=Weekly MaxMind GeoIP database update

[Timer]
OnCalendar=weekly
Persistent=true
RandomizedDelaySec=6h

[Install]
WantedBy=timers.target
